@import '../../Atoms/Button';
@import '../../Atoms/TextArea';
@import '../../Molecules/TextOnImage';

#EmiruForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EmiruFromDescription {
  font-size: var(--font-m);
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-xs);
}
.EmiruFormPreviewText {
  font-family: var(--font-emiru);
  color: var(--color-white);
  white-space: pre;
  /* letter-spacing: -0.05em; */
}
.EmiruFormResult {
  width: 100%;
}
.EmiruFormTextarea {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  margin-bottom: var(--spacing-m);
}
.EmiruFormButton {
  width: 100%;
  margin-top: var(--spacing-s);
  font-weight: bold;
  font-size: var(--font-m);
  line-height: var(--font-l);
}
.EmiruFormButtonIcon {
  margin-right: var(--spacing-xs);
}
.EmiruFormStatusMessage {
  margin-top: var(--spacing-m);
}
.EmiruFormStatusMessage.download_success {
  color: var(--color-green);
}
.EmiruFormStatusMessage.failure {
  color: var(--color-red);
}

